footer {
    background-color: $beige;
    padding: 5rem;

    .links {
        display: flex;
        margin-bottom: 5rem;

        * {
            flex: 1;
        }

        h2 {
            font-family: "Lora";
            margin-bottom: 1rem;
        }

        ul {
            display: flex;
            flex-direction: column;
            gap: .5rem;
        }
    }
}