// job_details.scss

$primary-color: #104332; // Change this to your preferred color
$secondary-color: #2c3e50;
$background-color: #ecf0f1;
$border-radius: 15px;
$box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
$padding: 15px;

body {
    font-family: Arial, sans-serif;
    background-color: $background-color;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin: 20px 0;
    color: $secondary-color;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $padding;

    @media (min-width: 768px) {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}

.post {
    background: white;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    margin: 15px;
    width: 90%;
    max-width: 350px;
    transition: transform 0.3s, box-shadow 0.3s;

    @media (max-width: 500px) {
        width: 100%;
        max-width: 100%;
    }

    @media (min-width: 501px) and (max-width: 768px) {
        max-width: 300px;
    }

    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    }
}

.post-image {
    width: 100%;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
}

.post-preview {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: $padding;

    h1 {
        font-size: 1.5em;
        margin: 0;
        color: $primary-color;

        a {
            text-decoration: none;
            color: inherit;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .business-name {
        font-weight: bold;
        color: $secondary-color;
        display: inline-block;
        margin: 5px 0;
    }

    .date-posted {
        color: gray;
        display: inline-block;
        margin: 5px 0;
    }

    .job-description {
        margin: 10px 0;
        color: #555;
        line-height: 1.5;
    }

    .read-more {
        display: inline-block;
        background-color: $primary-color;
        color: white;
        padding: 10px 15px;
        border-radius: $border-radius;
        text-decoration: none;
        transition: background-color 0.3s;

        &:hover {
            background-color: darken($primary-color, 10%);
        }
    }
}
