@import 'main';
@import 'header';
@import 'footer';

body {font-family: Arial, sans-serif;line-height: 1.6;margin: 0;padding-top: 30vh;  
}  
   
  
main {padding: 20px 0;  
}  
  
main .container {width: 80%;margin: 0 auto;  
}  
  
 