@import 'main';
@import 'header';
@import 'footer';

body {
    font-family: $body-text;  
    padding-top: 20vh;
}  

button {
    background-color: $green;
}
  
.card {
    border: 1px solid #ffffff;  
    background-color: $beige;
}  
  
.card-title {font-weight: bold;  
}  
  
@media (max-width: 768px) {main {padding: 2rem 1rem;}  
}  