/* Design styles */
/* Colors */
$gold: #e9e730;
$green: #104332;
$teal: #348c8d;
$beige: #f4f0e5;

/* Text */
$body-text: "Figtree", sans-serif;
$alt-text: "Lora", serif;

/* Buttons */
.btn {
    border-radius: 10px;
    padding: .7rem 1rem;
    display: inline-block;
}
.btn_outline {
    border: 1px solid gray;
    background-color: transparent;
}
.btn_fill {
    background-color: black;
    color: white;
}

.beige {
    background-color: $beige;
}
.gold {
    background-color: $gold;
}
.teal {
    background-color: $teal;
}
.green {
    background-color: $green;
    color: $beige;
}

/* Normalise styles */
html {
    font-size: 16px;
}
body {
    font-family: $body-text;

    #menu_toggle {
        display: none;
    }

    h1, h2, h3, h4, h5, h6, .alt_text {
        font-family: $alt-text;
    }
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    opacity: .7;
}
ul {
    list-style: none;
}
img {
    max-width: 100%;
}
